/.phpunit.cache
/.npm-cache
/outputs
/qsa-scanner-v2.patch
/qsa-scanner-v2.bundle
/work/ssh
/node_modules
/public/build
/database/database.sqlite
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/private/
!/storage/app/private/.gitignore
!/storage/app/public/
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
